In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('a_b test ecom - ab_test 2 (2).csv')

In [ ]:
df

            id     time  con_treat      page  converted
0       851104  11:48.6    control  old_page          0
1       804228  01:45.2    control  old_page          0
2       661590  55:06.2  treatment  new_page          0
3       853541  28:03.1  treatment  new_page          0
4       864975  52:26.2    control  old_page          1
...        ...      ...        ...       ...        ...
294473  751197  28:38.6    control  old_page          0
294474  945152  51:57.1    control  old_page          0
294475  734608  45:03.4    control  old_page          0
294476  697314  20:29.0    control  old_page          0
294477  715931  40:24.5  treatment  new_page          0

[290585 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290585 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         290585 non-null  int64
 1   time       290585 non-null  object
 2   con_treat  290585 non-null  object
 3   page       290585 non-null  object
 4   converted  290585 non-null  int64
dtypes: int64(2), object(3)
memory usage: 13.3+ MB

In [ ]:
df.describe()

                  id      converted
count  290585.000000  290585.000000
mean   788004.825246       0.119597
std     91224.582639       0.324490
min    630000.000000       0.000000
25%    709035.000000       0.000000
50%    787995.000000       0.000000
75%    866956.000000       0.000000
max    945999.000000       1.000000

In [ ]:
df.con_treat.value_counts()

treatment    145311
control      145274
Name: con_treat, dtype: int64

In [ ]:
df.page.value_counts()

new_page    145311
old_page    145274
Name: page, dtype: int64

In [ ]:
df.id.nunique()

290584

In [ ]:
df.shape[0]

290585

In [ ]:
290584 + 3893

294477

In [ ]:
df = df.query('(con_treat == "control" and page == "old_page") or (con_treat == "treatment" and page == "new_page")')

In [ ]:
n1 = df.query('con_treat == "control"').shape[0]-1
n2 = df.query('con_treat == "treatment"').shape[0]-1

In [ ]:
k1 = df.query('con_treat == "control"').converted.sum()
k2 = df.query('con_treat == "treatment"').converted.sum()

In [ ]:
from statsmodels.stats import proportion
import numpy as np
z_score, z_pvalue = proportion.proportions_ztest(np.array([k1, k2]),
                                                   np.array([n1, n2]))
print('Results are ','z_score =%.3f, pvalue = %.3f'%(z_score, z_pvalue))

Results are  z_score =1.312, pvalue = 0.190

In [ ]:
from statsmodels.stats import proportion
import numpy as np
proportion.proportions_chisquare(np.array([k1, k2]),
                                                   np.array([n1, n2]))

(1.7203163882100383,
 0.189652323949578,
 (array([[ 17489., 127784.],
         [ 17264., 128046.]]),
  array([[ 17374.28744627, 127898.71255373],
         [ 17378.71255373, 127931.28744627]])))